/**********************
 *BASE
 **********************/
html,
body {
    height: 100%;
}

/**********************
 *LAYOUT
 **********************/
.wrapper {
    height: 100%;
}

/**********************
 *MODULES
 **********************/
.map {
    height: 100%;
}

/**********************
 *STATE
 **********************/


/**********************
 *MEDIA QUERIES
 **********************/
