/**********************
 *BASE
 **********************/
* {
    box-sizing: border-box;
}
html,
body {
    height: 100%;
    font-family: 'Allerta', sans-serif;
}
h1,
h2,
h3 {
    font-weight: normal;
}

/**********************
 *LAYOUT
 **********************/
.wrapper {
    position: relative;
    height: 100%;
}

/**********************
 *MODULES
 **********************/
.map-container {
    position: fixed;
    width: 100%;
    height: 100%;
}
.map {
    height: 100%;
}
.sidebar {
    position: absolute;
    width: 100%;
    height: 100%;
    color: #ffffff;
    text-transform: uppercase;
    z-index: 99;
}
.sidebar [class*='section']:last-of-type {
    min-height: 100%;
}
[class*='section'] {
    padding: 3em;
}
.section__black {
    background-color: rgba(0,0,0,.8);
}
.section__blue {
    background-color: rgba(79,147,232,.8);
}
.sidenav {
    padding: 0;
    list-style: none;
}
.sidenav li {
    margin: 0 0 .5em;
}

/**********************
 *STATE
 **********************/


/**********************
 *MEDIA QUERIES
 **********************/
@media screen and (min-width: 600px) {
    .sidebar {
        width: 50%;
    }
}
@media screen and (min-width: 768px) {
    .sidebar {
        width: 25%;
        min-width: 384px;
    }
}