/**********************
 *BASE
 **********************/
* {
    box-sizing: border-box;
    webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
html,
body {
    height: 100%;
    font-family: 'Allerta', sans-serif;
}
h1,
h2,
h3 {
    font-weight: normal;
}
h2 {
    margin-bottom: 0;
}
a {
    color: rgba(79,147,232,1.0);
    text-decoration: none;
}
button,
[class*='button'] {
    background-color: rgba(255,255,255,0.0);
    margin-top: 1em;
    padding: 1em;
    text-transform: uppercase;
    font-size: .9em;
    border: 2px solid #ffffff;
}
button:hover,
[class*='button']:hover {
    color: rgba(79,147,232,0.9);
    border-color: rgba(79,147,232,0.9);
}
button:focus,
[class*='button']:focus {
    outline: none;
}
input,
select {
    color: #000000;
    font-size: .9em;
    text-transform: uppercase;
    border: none;
    border-radius: 0;
}
input:focus {
    outline: none;
}
input[type=search] {
    box-sizing: border-box;
    webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    -webkit-padding-end: 20px;
    -moz-padding-end: 20px;
    -webkit-padding-start: 2px;
    -moz-padding-start: 2px;
    background: url('../img/select-arrows.svg') 98% center no-repeat #ffffff;
    margin: 0;
    padding: 1em .5em;
    overflow: hidden;
    color: #555555;
    text-overflow: ellipsis;
    white-space: nowrap;
}
select::-ms-expand {
    display: none; /* for IE 11 */
}

/**********************
 *LAYOUT
 **********************/
.wrapper {
    position: relative;
    height: 100%;
}

/**********************
 *MODULES
 **********************/
.title {
    font-size: 1em;
}
.map-container {
    position: fixed;
    width: 100%;
    height: 100%;
}
.map {
    height: 100%;
}
.gm-style .gm-style-iw {
    max-height: 20em;
    overflow-y: scroll;
}
.address {
    margin: .5em 0 1em;
    font-size: .9em;
    color: #555555;
}
.source-title {
    background: #DCDCDC;
    margin-bottom: 0;
    padding: 1em;
}
.info {
    background: #F7F7F7;
    margin-top: 0;
    padding: 1em;
}
.info-image {
    float: left;
    margin-right: 1em;
}
.review-count {
    margin-top: 0;
    font-size: 90%;
    font-weight: bold;
    text-transform: uppercase;
}
.snippet {
    font-size: 1em;
}
.stars {
    margin-bottom: 0;
    color: #EF8333;
    font-size: 1.5em;
}
.centered-element-container {
    text-align: center;
    padding: 1em;
}
.button--source-link {
    color: #555555;
    border-color: #555555;
    font-weight: bold;
}
.logo-container {
    background: #F7F7F7;
    margin: 0 0 1em;
    padding: 1em;
    text-align: center;
    border-top: 1px solid #E8E8E8;
}
.sidebar {
    position: absolute;
    width: 100%;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    z-index: 99;
}
.sidebar [class*='section']:last-of-type {
    min-height: 100%;
}
[class*='section'] {
    padding: 3em;
}
.section__black {
    background-color: rgba(0,0,0,.8);
}
.section__blue {
    background-color: rgba(79,147,232,.8);
}
.list-container {
    display: none;
}
.tabs {
    display: flex;
    list-style-type: none;
    padding: 0;
}
.tab-title {
    background: rgba(255, 255, 255, 0.5);
    width: 50%;
    padding: 1em .5em;
    color: #555555;
    border-bottom: 1px solid #ffffff;
}
.tab-title:hover {
    background: rgba(255, 255, 255, 0.6);
    cursor: pointer;
}
.hidden-tab {
    display: none;
}
.sidenav {
    margin-bottom: 0;
    padding: 0;
    font-size: .9em;
    list-style: none;
}
.search {
    width: 100%;
    margin-bottom: 1em;
    padding: 1em .5em;
    box-sizing: border-box;
}
.filter {
    width: 100%;
    margin-bottom: 1em;
}
.nav-item {
    padding: 1.5em .5em;
    border-bottom: 1px solid #a4c4ec;
}
.nav-item:first-child {
    border-top: 1px solid #a4c4ec;
}
.nav-item:hover {
    cursor: pointer;
    background-color: rgba(79,147,232,.9);
}
.error {
    display: none;
    color: #bc152c;
}
.banner-message {
    background-color: rgba(188,21,44,0.9);
    padding: 1em 2em;
    color: #ffffff;
}

/**********************
 *STATE
 **********************/
.nav-item--active,
.nav-item--active:hover {
    background-color: rgba(79,147,232,1.0);
}

.tab-title--active,
.tab-title--active:hover {
    background: rgba(255, 255, 255, 0.8);
    border: 1px solid #ffffff;
    border-bottom: 0;
}

/**********************
 *MEDIA QUERIES
 **********************/
@media screen and (min-width: 600px) {
    .mobile {
        display: none;
    }
    .title {
        font-size: 2em;
    }
    .sidebar {
        width: 50%;
        height: 100%;
    }
    .list-container {
        display: block;
    }
}
@media screen and (min-width: 768px) {
    .sidebar {
        width: 25%;
        min-width: 384px;
    }
}